.preloader{
  margin-top: 1em;
  width: 100%;
display: flex;
justify-content: center;
}
.bollOne, .bollTwo, .bollThree{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 border: aquamarine 1px solid;
}
.bollOne{
  background-color: forestgreen;
  transform: scale(1);
  animation: one 1s linear 0.1s infinite forwards;
}
.bollTwo{
  background-color: red;
  transform: scale(1);
  animation: two 1s linear 0.3s infinite forwards;
}
.bollThree{
  background-color:royalblue;
  transform: scale(1);
  animation: three 1s linear 0.5s infinite forwards;
}
@keyframes one {
  0%{  transform: scale(1);}
  100%{   transform: scale(0);}
}
@keyframes two {
  0%{  transform: scale(1);}
  100%{  transform: scale(0);}
}
@keyframes three {
  0%{  transform: scale(1);}
  100%{  transform: scale(0);}
}

