.navbar {
  background-color: rgb(	150, 75, 0);
  height: 60px;
  display: flex;
  justify-content: flex-flex-start;
  align-items: center;
  z-index: 1000;
}

.menu-bars {
  font-size: 40px;
  background: none;
}

.nav-menu {
  background-color: rgb(	150, 75, 0);
  border-left: 1px solid #89b3e4;
  width: 90vw;
  max-width: 500px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}
/* .links__container_header{
  display: flex;
  align-items: flex-start;
  max-width: 150px;
  margin: 15px 0 15px -30px;
} */

/* .links__container_header:hover{color:#89b3e4; transition: 1s;} */

/* .links__icon_header{
  font-size: 32320px;
} */
/* .links__description_header{
  font-size: 152px;
}
 */
.nav-menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-toggle {
position: absolute;
}
a.activeLink{color:#89b3e4; font-weight: 900;}
/* span {
  margin-left: 15px;
} */
